body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Roboto Slab", serif !important;
}
/* You can put this in your global CSS or in <style> tag if inline */

.custom-placeholder::placeholder {
  color: #ffd1d1;  /* Change to any color you want */
  opacity: 1;
  
}
body {
  overflow-x: hidden;
}

/* In your CSS file or style block */
body {
  padding-top: 80px; /* Adjust according to your navbar height */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
